__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

pretrained_models/*
dataset/*
*.pt

exp/*
!exp/sae_config_C/
exp/sae_config_C/*
!exp/sae_config_C/llm_prompts/
!exp/sae_config_C/llm_prompts/*


wandb/
whisper-shanghai-finetuned/
temp/
*.out
logs/
find_tune/.*
